body#telainicial {
background: url("imgfutsal.jpg") no-repeat 0px 20px ;
font: normal 20pt;
color: white;
}
body{
background: url("viva.jpg");
font: normal 20pt;
color: black;
}
header {
    text-align: center;
}
section {
    background-color: rgb(75, 70, 70);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
    

}
div#corpo {
    margin-top: 100px;
}
section#intro {
    width: 900px;
    height: 400px;
    margin-left: 240px;
}
h1#entrada {
    font-size: 60px;
    font-style: italic;
    text-align: center;
}
h2#txtintro {
    font-size: 30px;
    font-style: normal;
    text-align: center;
}
nav#menu ul{
    list-style: none;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(15, 15, 15);
    padding: 20px;
    margin: 0px;
    padding-top: 10px;
    color: blue;
    
}
nav#menu h1 {
    display: none;
}

nav#menu a{
    text-decoration: none;
}
nav#menu a:hover{
    color: rgba(247, 242, 242, 0.774);
}
nav#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    background-color: rgb(15, 15, 15);
    
    
}
#res3 {
    position: sticky;
    bottom: 100px;
    margin-right: 100px;
    padding: 5px;

    width: 200px;
} 
#tempoReal {
    position: sticky;
    bottom: 100px;
    margin-left: 100px;
    padding: 5px;

    width: 200px;
} 
select {
    width: 150px;
}
footer {
text-align: center;
font-style: italic;
}